@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.56;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
#avis-wrapper {
	background-repeat: repeat;
	background-size: 100% auto;
}

.avis-head {
	font-family: 'Montserrat', sans-serif;
	padding-top: 25px;
	&_flex {
		display: flex;
		align-items: center;
		border-bottom: 2px solid $text;
		padding-bottom: 25px;
	}
	&-logo {
		img {
			width: 140px;
		}
	}
	&_about {
		margin-left: 15px;
		font-size: 18px;
		line-height: 1.4;
		&-company {
			color: $accent;
		}
		&-companyname {
			color: $text;
			font-weight: bold;
		}
		&-short {
			color: $gray;
			font-weight: bold;
		}
	}
	&_addr {
		font-size: 15px;
		margin-left: auto;
		margin-right: 15px;
	}
}

.head-link {
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 10px;
	color: $accent;
	text-decoration: none;
	&:hover, &:focus, &:active {
		color: $accent;
	}
}

.phone {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	color: $text;
	&:hover, &:focus, &:active {
		color: $text;
	}
}

.avis-present {
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
	h1.main-title {
		margin: 0;
		padding: 0;
		font-size: 70px;
		line-height: 1.14;
		font-weight: normal;
		color: $accent;
	}
	.present-desc {
		color: #1f1f1f;
		font-size: 25px;
		width: 600px;
		max-width: 100%;
		margin: 27px auto;
		
	}
	.present-button {
			margin-top: 20px;
	}
}

.present-button {
	display: inline-block;
	padding: 20px 35px;
	background-color: $text;
	color: #ffffff !important;
	text-decoration: none !important;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: none;
	border-radius: 10em;
}

.s-default {
	.section-content {
		padding: $gutter;
		background-color: #ffffff;
		.section-title {
			font-size: 36px;
			font-family: "Montserrat", sans-serif;
			color: #202020;
			font-weight: 600;
			margin: 0;
			padding: 0;
			padding-left: $gutter - 10;
			border-left: 3px solid red;
			line-height: 100%;
			margin-bottom: $gutter * 2;
		}
	}
}

.s-about {
	.advantage-card {
		margin-top: 30px;
		border: 3px solid #F5F5F5;
		padding: 30px 10px 10px 10px;
		font-family: "Montserrat", sans-serif;
		transition: backgound-color 0.25s ease;
		display: flex;
		&-text {
			margin-left: 26px;
		}
		&:hover {
			background-color: #f5f5f5;
		}
		&-title {
			font-size: 20px;
			font-weight: 600;
			color: rgba($text, 0.65);
		}
		&-desc {
			margin-bottom: 5px;
			line-height: 130%;
			color: rgba($text, 0.65);
			font-weight: 500;
		}
	}
}

.about-card {
	padding: 20px;
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	color: rgba($text, 0.65);
	border: 3px solid #FBC91C;
}

.about-bg-block {
	margin-top: 30px;
	min-height: 320px;
	position: relative;
	padding-left: 5%;
	padding-bottom: 20px;
	padding-top: 50px;
	>* {
		position: relative;
		z-index: 3;
	}
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(#000,0.5);
	}
	&-text {
		color: #ffffff;
		line-height: 1.4;
		font-size: 25px;
		font-family: "Roboto", sans-serif;
	}
}

.need-help {
	padding: 30px 0;
	margin-top: 42px;
	position: relative;
	background-image: url(../img/help_bg.jpg);
	background-size: cover;
	background-position-y: bottom;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	>* {
		position: relative;
		z-index: 3;
	}
	&:after {
		content: "";
		position: absolute;
		z-index: 2;
		background-color: rgba($text, 0.74);
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
	&-content {
		display: flex;
		align-items: center;
	}
	&-text {
		color: #ffffff;
	}
	&-title {
		margin: 0;
		font-size: 36px;
		line-height: 100%;
	}
	p {
		margin: 0;
	}
	&-form {
		margin-left: auto;
	}
	form {
		input[type=text] {
			border: none;
			border-radius: 15px;
			width: 200px;
			padding: 12px 0 12px 15px;
			font-family: "Montserrat", sans-serif;
			margin: 0 10px;
			font-weight: 600;
			&::placeholder {
				color: rgba($text, 0.65);
				
			}
		}
	}
}

.submit {
	border: none;
	border: 3px solid #fff;
	background-color: transparent;
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: 600;
	display: -inline-block;
	padding: 10px 10px;
	border-radius: 10em;
	cursor: pointer;
}

.review-sertificate {
	margin-top: 20px;
	a {
		display: block;
		border: 5px solid #D9D9D9;
		transition: border-color 0.25s ease;
		&:hover, &:focus {
			border-color: $accent;
		}
	}
}

.reviews {
	margin-top: 40px;
}

#map {
	max-height: 700px;
	height: 80vh;
}

#contacts {
	.contacts-card {
		margin-top: -40%;
		padding: 50px;
		background-color: #ffffff;
	}
	figure {
		figcaption {
			font-family: "Montserrat",sans-serif;
			font-size: 15px;
			color: #939da7;
		}
		span {
			font-family: "Montserrat", sans-serif;
			font-weight: 200;
			font-size: 22px;
			color: #242e38;
		}
	}
	.fig {
		font-family: "Montserrat",sans-serif;
		font-size: 15px;
		color: #939da7;
	}
	form {
		input,textarea {
			width: 100%;
			border: 1px solid #E1E7EC;
			display: block;
			border-radius: 2px;
			margin: 10px 0;
		}
		input {
			height: 60px;
			padding: 0 20px;
		}
		textarea {
			resize: none;
			height: 120px;
			padding: 20px;
		}
	}
}

.footer {
	background-color: #ffffff;
	font-family: "Roboto", sans-serif;
	color: #242e38;
	font-size: 15px;
	.footer-flex {
		height: 170px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.totop {
	color: $text !important;
	padding: 3px;
	text-decoration: none !important;
	svg {
		margin-left: 5px;
	}
}

.button {
	font-family: "Monsterrat", sans-serif;
	color: #ffffff;
	background-color: #000000;
	padding: 14px 30px;
	line-height: 100%;
	display: inline-block;
	text-align: center;
	border: none;
	cursor: pointer;
	border-radius: 10em;
	font-weight: bold;
	text-decoration: none;
	&:hover, &:focus, &:active {
		color: #ffffff;
		text-decoration: none;
	}
}

@import "media"; // Always at the end
